$sn-main-light-grey: #e0e0e0;
$sn-main-blue: #2196f3;
$sn-main-orange: #f57f17;
$sn-main-grey: #bdbdbd;
$sn-main-red: #ff5252;


.bg-light-grey {
    background: $sn-main-light-grey !important;
}

.bg-blue {
    background: $sn-main-blue!important;
}

.bg-orange {
    background: $sn-main-orange!important;
}

.bg-grey {
    background: $sn-main-grey!important;
}

.bg-red {
    background: $sn-main-red!important;
}

.bg-white {
    background: white!important;
}


.col-light-grey {
    color: $sn-main-light-grey !important;
}

.col-blue {
    color: $sn-main-blue!important;
}

.col-orange {
    color: $sn-main-orange!important;
}

.col-grey {
    color: $sn-main-grey!important;
}

.col-red {
    color: $sn-main-red!important;
}
