// если делать через переменные scss, то нужно в каждом файле импорт переменных прописывать
// и неудобно прописывать переменные в шаблоне,
// к тому же автокоплит не очень хорошо работает, поэтому пользуюсь нативными переменными
// приставка sn(social-network) нужна, чтобы исключить возможные конфликты
:root {
    --sn-unauthorized-theme: #e0e0e0;
    --sn-main-blue: #2196f3;
    --sn-main-orange: #f57f17;
    --sn-main-grey: #bdbdbd;
    --sn-main-red: #ff5252;
}

